button{
    margin: 20px;
    text-align: center;
}

h2{
    text-align: center;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}